:root {
    --color-calendar-graph-day-bg: white;
    --color-calendar-graph-day-L1-bg: #39dd34;
    --color-calendar-graph-day-L2-bg: #45a045;
    --color-calendar-graph-day-L3-bg: #047526;
    --color-calendar-graph-day-L4-bg: #0a4208;
  }
  
  rect.ContributionCalendar-day[data-level='0'] {
      fill: var(--color-calendar-graph-day-bg);
  }
  
  rect.ContributionCalendar-day[data-level='1'] {
      fill: var(--color-calendar-graph-day-L1-bg);
  }
  
  rect.ContributionCalendar-day[data-level='2'] {
      fill: var(--color-calendar-graph-day-L2-bg);
  }
  
  rect.ContributionCalendar-day[data-level='3'] {
      fill: var(--color-calendar-graph-day-L3-bg);
  }
  
  rect.ContributionCalendar-day[data-level='4'] {
      fill: var(--color-calendar-graph-day-L4-bg);
  }
  
  .calendar .width-full > .float-left {
      display: none;
  }
  .git{
    background-color: rgb(234, 206, 170);
  }
  .calendar {
      width:100%;
      border: 1px solid black;
      border-radius: 5px;
      text-align: center;
      margin: auto;
      padding:1%;
      margin-top: 20px;
  }
  
 
  .text-small {
      font-size: 15px;
      color: black;
  }
  .contrib-column {
      padding: 15px 0;
      text-align: center;
      border-left: 1px solid rgb(0, 0, 0);
      border-top: 1px solid rgb(0, 0, 0);
      border-right: 1px solid rgb(0, 0, 0);
      border-bottom: 1px solid rgb(0, 0, 0);
      font-size: 11px;
  }
  
  .table-column {
      display: table-cell;
      width: 1%;
      padding-right: 10px;
      padding-left: 10px;
      vertical-align: top;
  }
  
  .contrib-number {
      font-weight: 300;
      line-height: 1.3em;
      font-size: 24px;
      display: block;
      color: rgb(0, 0, 0);
  }
  
  .float-right{
    color: black;
  }

  text.ContributionCalendar-label {
      fill: rgb(0, 0, 0);
      font-size: 11px;
  }

  .text-muted{
    color: black;
  }
  #user-activity-overview{
    visibility: hidden;
}
  @media only screen and (max-width:520px){

.contrib-number {
    font-weight: bold;
    line-height: 1.3em;
    font-size: 15px;
}
.contrib-column {  
    font-size: 10px;
}
  }